# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
*.expect
*.resource_archive
*.dart.js.deps

# Android
/android/app/debug
/android/app/profile
/android/app/release
/android/local.properties
/android/**/generated/
*.keystore
*.jks

# iOS
/ios/Flutter/.last_build_id
/ios/Pods/
/ios/DerivedData/
*.moved-aside

# Web
.generated_development_scripts
